@{
    var viewModel = ViewBag.MainLayoutViewModel as Transactions.Api.Models.Checkout.TerminalCheckoutCombinedSettings;
    var currentUICulture = CultureInfo.CurrentCulture;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyCard Checkout Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/threedots.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    @if (viewModel?.CustomCssReference != null)
    {
        <link rel="stylesheet" href="@viewModel.BlobBaseAddress/@viewModel?.CustomCssReference" />
    }
</head>
<body dir="@(currentUICulture.Name == "he" ? "rtl" : "ltr")" class="@(currentUICulture.Name == "he" ? "rtl" : "ltr")">
    <div id="loading-spinner" hidden="hidden">
        <div class="overlay">
            <div class="dot-spin"></div>
        </div>
    </div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">
                    @if (viewModel?.MerchantLogo != null)
                    {
                        <img src="@viewModel.BlobBaseAddress/@viewModel?.MerchantLogo" alt="EasyCard" id="merchant-logo" />
                    }
                    else
                    {
                        <img src="~/img/logo.png" alt="EasyCard" />
                    }
                    <span>@viewModel?.MarketingName</span>
                </a>
                <vc:culture-switcher />
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.Today.Year - EasyCard
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-payment/jquery.payment.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://public.bankhapoalim.co.il/bitcom/sdk"></script> 
    @RenderSection("Scripts", required: false)
</body>
</html>
