@{
    var viewModel = ViewBag.MainLayoutViewModel as Transactions.Api.Models.Checkout.TerminalCheckoutCombinedSettings;
    var currentUICulture = CultureInfo.CurrentCulture;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EasyCard Checkout Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/threedots.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    <link href="https://fonts.cdnfonts.com/css/anelisa" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@400;500;600;700&display=swap" rel="stylesheet">


    @if (viewModel?.CustomCssReference != null)
    {
        <link rel="stylesheet" href="@viewModel.BlobBaseAddress/@viewModel?.CustomCssReference" />
    }
</head>
<body dir="@(currentUICulture.Name == "he" ? "rtl" : "ltr")" class="@(currentUICulture.Name == "he" ? "rtl" : "ltr")">
    <div id="loading-spinner" hidden="hidden">
        <div class="overlay">
            <div class="dot-spin"></div>
        </div>
    </div>
    <header>
        <nav class="checkout_navbar">
            <a>
                @if (viewModel?.MerchantLogo != null)
                {
                    <img src="@viewModel.BlobBaseAddress/@viewModel?.MerchantLogo" alt="EasyCard" id="merchant-logo" />
                }
                else
                {
                    <img src="~/img/logo40.png" alt="EasyCard" id="merchant-logo" />
                }
            </a>
            <span>@viewModel?.MarketingName</span>
                <vc:culture-switcher />
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.Today.Year - EasyCard
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-payment/jquery.payment.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/nca-3ds-web-sdk.js"></script>
    <script src="https://public.bankhapoalim.co.il/bitcom/sdk"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    @RenderSection("Scripts", required: false)
  
</body>
</html>
