@model ChangePasswordViewModel
@inject CommonLocalizationService localizer

@{
    ViewData["Title"] = localizer.Get("SetNewPassword");
}

<div class="row">
    <div class="col-sm-12 d-md-flex justify-content-center">
        <div class="panel panel-default panel-ecng">
            @if (Model?.Success != true)
            {
                <div class="panel-heading text-center">
                    <h5 class="panel-title">@ViewData["Title"]</h5>
                </div>
                <div class="panel-body">
                    <form method="post">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div asp-validation-summary="All" class="text-danger"></div>
                        }
                        <div class="form-group">
                            <label>@localizer.Get("OldPassword")</label>
                            <input asp-for="OldPassword" class="form-control" />
                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>@localizer.Get("NewPassword")</label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>@localizer.Get("ConfirmPassword")</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary">OK</button>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="panel-heading text-center">
                    <h5 class="panel-title">@localizer.Get("PasswordUpdatedSuccesfully")</h5>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
