@model ConfirmEmailViewModel
@inject CommonLocalizationService localizer

<div class="login-page">


    <partial name="_ValidationSummary" />

    <div class="row">


        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@localizer.Get("ConfirmRegistrationMessage")</h3>
                </div>
                <div class="panel-body">

                    <form asp-route="ConfirmEmail" autocomplete="chrome-off">
                        <input asp-for="Code" type="hidden" />

                        <fieldset>
                            <div class="form-group">
                                <label asp-for="FirstName">@localizer.Get("FirstName")</label>
                                <input type="text" class="form-control" placeholder="@localizer.Get("FirstName")" asp-for="FirstName" autocomplete="off">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="LastName">@localizer.Get("LastName")</label>
                                <input type="text" class="form-control" placeholder="@localizer.Get("LastName")" asp-for="LastName" autocomplete="off">
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="PhoneNumber">@localizer.Get("Phone")</label>
                                <input type="tel" class="form-control" placeholder="@localizer.Get("Phone")" asp-for="PhoneNumber" autocomplete="off" pattern="[0-9]{6,50}">
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">@localizer.Get("Password")</label>
                                <input type="password" class="form-control" placeholder="@localizer.Get("Password")" asp-for="Password" autocomplete="chrome-off">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword">@localizer.Get("ConfirmPassword")</label>
                                <input asp-for="ConfirmPassword" class="form-control" autocomplete="off" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" name="button" value="confirm">@localizer.Get("Confirm")</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
