@model LoggedOutViewModel
@inject CommonLocalizationService localizer

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h5 class="panel-title">@localizer.Get("Logout")</h5>
            </div>
            <div class="panel-body">
                <p>@localizer.Get("YouAreNowLoggedOut")</p>

                @if (Model.PostLogoutRedirectUri != null)
                {
                    <div>
                        <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">@localizer.Get("ReturnToTheApplication")</a>
                    </div>
                }

                @if (Model.SignOutIframeUrl != null)
                {
                    <iframe hidden width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
