@model LoginWith2faViewModel
@inject CommonLocalizationService localizer

@{
    ViewData["Title"] = localizer.Get("TwoFactorAuthentication");
}

<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <div class="panel panel-default panel-ecng">
            <div class="panel-header text-center">
                <h2>@ViewData["Title"]</h2>
                <p>@localizer.Get("EnterYourAuthenticatorCodeBelow")</p>
            </div>
            <div class="panel-body">
                <form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                    <input asp-for="LoginType" type="hidden" />
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div asp-validation-summary="All" class="text-danger"></div>
                    }
                    <div class="form-group">
                        <label asp-for="TwoFactorCode">@localizer.Get("Code")</label>
                        <input asp-for="TwoFactorCode" class="form-control" autocomplete="off" />
                        <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
                    </div>
                    <div class="form-group text-end">
                        <button type="submit" class="btn btn-primary">@localizer.Get("Login")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@*<p>
        Don't have access to your authenticator device? You can
        <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">log in with a recovery code</a>.
    </p>*@

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}