@model LogoutViewModel
@inject CommonLocalizationService localizer

@{
    ViewData["Message"] = localizer.Get("Logout");
}
<div class="row">
    <div class="col-sm-12 d-flex justify-content-center">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h5 class="panel-title">@ViewData["Message"]</h5>
            </div>
            <div class="panel-body">
                <p>@localizer.Get("WouldYouLikeToLogout")</p>
                <form asp-action="Logout">
                    <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                    <fieldset>
                        <div class="form-group text-end">
                            <a asp-action="Login" class="btn btn-outline-dark">@localizer.Get("Cancel")</a>
                            <button class="btn btn-primary">@localizer.Get("Yes")</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>