@model ResetPasswordViewModel
@inject CommonLocalizationService localizer

@{
    ViewData["Title"] = localizer.Get("SetNewPassword");
}

<div class="row">
    <div class="col-sm-12 d-md-flex justify-content-center">
        <div class="panel panel-default panel-ecng">
            <div class="panel-heading text-center">
                <h5 class="panel-title">@ViewData["Title"]</h5>
            </div>
            <div class="panel-body">
                <form method="post">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div asp-validation-summary="All" class="text-danger"></div>
                    }
                    <input asp-for="Code" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Email">@localizer.Get("Email")</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">@localizer.Get("Password")</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword">@localizer.Get("ConfirmPassword")</label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">@localizer.Get("OK")</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
