@{
    ViewData["Title"] = localizer.Get("BitPayment");
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model BitPaymentViewModel
@inject CommonLocalizationService localizer

<form asp-action="BitPaymentCompleted" method="get" hidden id="form">
    <input type="hidden" asp-for="PaymentTransactionID" id="PaymentTransactionID" />
    <input type="hidden" asp-for="TransactionSerialId" id="TransactionSerialId" />
    <input type="hidden" asp-for="PaymentInitiationId" id="PaymentInitiationId" />
    <input type="hidden" asp-for="RedirectUrl" id="RedirectUrl" />
    <input type="hidden" asp-for="PaymentIntent" id="PaymentIntent" />
    <input type="hidden" asp-for="PaymentRequest" id="PaymentRequest" />
</form>

<div class="row justify-content-center">
    <div class="col-md-12">
        <h3 class="text-center">@localizer.Get("BitPayment")</h3>
    </div>

    @if (!Model.IsMobile)
    {
        <div class="col-md-2">
            <div id="bitcom-button-container"></div>
        </div>
    }
    else
    {
        <div class="col-md-12">
            <a class="btn btn-primary btn-lg btn-block" href="@Model.ApplicationSchemeIos" target="_blank">@localizer.Get("PayWithIOS")</a>
        </div>
        <div class="col-md-12">
           <div class="py-2"></div>
        </div>
        <div class="col-md-12">
           <a class="btn btn-success btn-lg btn-block" href="@Model.ApplicationSchemeAndroid" target="_blank">@localizer.Get("PayWithAndroid")</a>
        </div>
    }
</div>

@if(!Model.IsMobile){
    @section Scripts{
    <script nws-csp-add-nonce="true">
    $(document).ready(function () {
        let transaction = {
            transactionSerialId: '@(Model.TransactionSerialId)',
            paymentInitiationId: '@(Model.PaymentInitiationId)'
        };
        //BitPayment.pay(transaction);
        BitPayment.Buttons({
            onCreate: function(openBitPaymentPage){
                openBitPaymentPage(transaction);
            },
            onApproved: function(details){
                $("#form").submit();
            } 
        }).render('#bitcom-button-container');
    });
    </script>
    }
}