@using Newtonsoft.Json;
@using Shared.Helpers
@{
    ViewData["Title"] = "EasyCard";
}
@model ChargeViewModel
@inject CommonLocalizationService localizer

<form asp-action="CancelPayment" method="post" hidden id="cancel-form">
    <input type="hidden" asp-for="RedirectUrl" id="RedirectUrlHidden" />
    <input type="hidden" asp-for="PaymentRequest" id="PaymentRequestHidden" />
    <input type="hidden" asp-for="PaymentIntent" id="PaymentIntent" />
    <input type="hidden" asp-for="ApiKey" id="ApiKeyHidden" />
    <input type="hidden" asp-for="Currency" id="CurrencyHidden" />
    <input type="hidden" asp-for="Description" id="DescriptionHidden" />
    <input type="hidden" asp-for="Origin" id="OriginHidden" />
    <input type="hidden" name="ChargeModel" id="ChargeModel" value="@JsonConvert.SerializeObject(Model)" />

</form>


<div class="payment-panel_container">
        <div class="payment-panel">
            <partial name="_ValidationSummary" />

            <p class="payment-panel_heading @(@Model.HideDealDescription == true ? "hideDealDescription" : "")">@Model.Description</p>
            
            <div class="panel-body">
                @if (Model.AllowBit == true)
                {
                    <div id="payment-type-area" class="row justify-content-center text-center payment-type-area">
                        <div class="col-md-12">
                            <h3 class="payment-panel_method">@localizer.Get("ChoosePaymentMethod")</h3>
                        </div>
                        <div class="col-md-12">
                            <div class="btn-group btn-group-toggle payment-type-select payment-panel_button-group" data-toggle="buttons">
                                <label class="btn btn-outline btn-outline-primary">
                                    <input type="radio" name="formPaymentType" id="formPaymentType_regular" autocomplete="off" value="regular"> @localizer.Get("CreditCardPayment")
                                </label>
                                <label class="btn btn-outline btn-outline-secondary">
                                    <input type="radio" name="formPaymentType" id="formPaymentType_bit" autocomplete="off" value="bit">
                                    <img id="bitlogo" height="20px" src="~/img/bit-logo-gray.svg" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-area" id="regular" hidden>
                        <partial name="RegularForm" />
                    </div>
                    <div class="form-area" id="bit" hidden>
                        <partial name="BitForm" />
                    </div>
                }
                else
                {
                    <div class="form-area" id="regular">
                        <partial name="RegularForm" />
                    </div>
                }
            </div>
        </div>
        <img src="~/img/payment-cards.png" alt="PaymentCards" />
</div>

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script nws-csp-add-nonce="true">
        (function () {
            $(document).ready(function () {
                $("input[name=formPaymentType]").on("change", function (e) {
                    let selectedMethod = $("input[name=formPaymentType]:checked").val();

                    if (!selectedMethod){
                        return;
                    }

                    $("#bitlogo").attr("src", selectedMethod == "bit" ? "/img/bit-logo-white.svg" : "/img/bit-logo-gray.svg");
                    $(`.form-area`).attr('hidden', true);
                    $(`#${selectedMethod}`).attr('hidden', false);
                });
                $("input[name=formPaymentType]").trigger("change");

                /* if (("#VersioningResponseHidden").val() != null) {
                     //call init3dmethod if it didn't fell on catch  PassedInit3DS is true, otherwise it's false
         //post to Home/Charge with modified model PassedInit3DS
                 }*/
            })
        })()
    </script>
}
