@model CheckoutPortal.Models.PaymentErrorViewModel
@inject CommonLocalizationService localizer

@{
    ViewData["Title"] = "Payment Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="text-danger">@localizer.Get("PaymentError")</h4>

@if(Model?.ErrorMessage != null)
{
    <h2 class="text-danger">@Model.ErrorMessage</h2>
}

<center>
    <img src="~/img/progress-close.png" />
</center>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@localizer.Get("RequestID"):</strong> <code>@Model.RequestId</code>
    </p>
}

<center class="pt-4">
    <button class="btn btn-outline-primary" onclick="history.go(-1)">@localizer.Get("GoBackToPayment")</button>
</center>

