@using CheckoutPortal.Models.Ecwid
@using Shared.Helpers
@{
    ViewData["Title"] = "EasyCard";
    Layout = null;
    var currentUICulture = CultureInfo.CurrentCulture;
}
@model EcwidSettingsQuery
@inject CommonLocalizationService localizer

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/ecwid-styles.css" />
    <link rel="stylesheet" href="https://d35z3p2poghz10.cloudfront.net/ecwid-sdk/css/1.3.13/ecwid-app-ui.css" />
    <script src="https://d35z3p2poghz10.cloudfront.net/ecwid-sdk/js/1.2.9/ecwid-app.js"></script>
    <script src="https://d35z3p2poghz10.cloudfront.net/ecwid-sdk/css/1.3.16/ecwid-app-ui.min.js"></script>
</head>
<!-- Back button block START -->

<div id="go-back-btn" class="content-control-menu-nav settings-page">
    <a class="horizontal-icolink icolink-small icolink-prepend">
        <span class="icon-arr-left"></span> <span class="gwt-InlineLabel">@localizer.Get("PayWithEasyCard")</span>
    </a>
</div>

<!-- Back button block END -->
<!-- Main app block START -->

<body dir="@(currentUICulture.Name == "he" ? "rtl" : "ltr")" class="@(currentUICulture.Name == "he" ? "rtl" : "ltr")">
    <div class="ecwid-lang-area">
        <vc:culture-switcher />
    </div>
    <div class="settings-page cf">
        <div class="settings-page__header">
            <div class="settings-page__titles settings-page__titles--left">
                <h1 class="settings-page__title">@localizer.Get("PayWithEasyCard")</h1>
                <div class="settings-page__subtitle">@localizer.Get("EcwidGeneralInfoMessage")</div>
            </div>

            <div hidden id="saved-alert" class="alert alert-success alert-icon">
                <div class="alert-inner">
                    <div class="alert-content">
                        <div class="icon">
                            <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70"><path d="M34.5 67h-.13c-8.68-.03-16.83-3.45-22.94-9.61C5.32 51.23 1.97 43.06 2 34.38 2.07 16.52 16.65 2 34.5 2h.13c8.68.03 16.83 3.45 22.94 9.61 6.12 6.16 9.46 14.34 9.43 23.02C66.93 52.48 52.35 67 34.5 67zm0-62C18.3 5 5.06 18.18 5 34.39c-.03 7.88 3.01 15.3 8.56 20.89 5.55 5.59 12.95 8.69 20.83 8.72h.12c16.2 0 29.44-13.18 29.5-29.39.03-7.88-3.01-15.3-8.56-20.89C49.89 8.13 42.49 5.03 34.61 5h-.11z"></path><path d="M32.17 46.67l-10.7-10.08c-.6-.57-.63-1.52-.06-2.12.57-.6 1.52-.63 2.12-.06l8.41 7.92 14.42-16.81c.54-.63 1.49-.7 2.12-.16.63.54.7 1.49.16 2.12L32.17 46.67z"></path></svg>
                            </span>
                        </div>
                        <div class="title">@localizer.Get("SettingsWereSavedSuccessfully")</div>
                        <div>
                            @localizer.Get("YouCanNowCloseThePage")
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="settings-page__body" style="padding-bottom: .1px">
            <div class="named-area">
                <div class="named-area__header">
                    <div class="named-area__titles">
                        <div class="named-area__title">@localizer.Get("Settings")</div>
                        <div class="named-area__subtitle">
                            @localizer.Get("EcwidSettingsInfoMessage")
                        </div>
                    </div>
                    <div class="named-area__description"></div>
                    <div class="named-area__additional"></div>
                </div>
                <div class="named-area__body">
                    <div class="a-card a-card--normal">
                        <div class="a-card__paddings">
                            <div class="form-area">
                                <div class="form-area__content">
                                    <div class="fieldsets-batch">
                                        <div class="fieldset">
                                            <div class="fieldset__title">@localizer.Get("TerminalApiKey")</div>
                                            <div class="field field--medium">
                                                <input placeholder="@localizer.Get("TerminalApiKey")" data-visibility="private" data-name="apiKey" type="text" class="ecwid-input" tabindex="4" maxlength="64">
                                            </div>
                                            <div class="field__error" aria-hidden="true" style="display: none;"></div>
                                            @*<div class="fieldset__note">...and some description below</div>*@
                                        </div>
                                    </div>
                                </div>

                                <div class="form-area__action">
                                    <button id="save-btn" type="button" class="btn btn-primary btn-medium" tabindex="5">@localizer.Get("Save")</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

<!-- Main app block END -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/ecwid-functions.js"></script>
<script src="~/lib/toastr/toastr.min.js"></script>
<link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />

<script nws-csp-add-nonce="true">
    (function() {
        $(document).ready(function () {
            $("#go-back-btn").on("click", function(){
                goBack();
            });
            $("#save-btn").on("click", function(){
                saveUserData();
                //toastr["success"]('@(localizer.Get("SettingsWereSavedSuccessfully"))');
                $("#saved-alert").show()
            });
        });
    })()
    // Autosave feature for fields. Complimentary JS for the one from SDK above

    //(function initFieldset() {

    //    var elms = document.querySelectorAll('.field__input, .field__select, .field__textarea, .radio');
    //    for (var i = 0; i < elms.length; i++) {
    //        elms[i].addEventListener('blur', function (e) {
    //            checkFieldChange(this);
    //            if (this.classList.contains('field__input') || this.classList.contains('field__textarea')) {
    //                saveUserData();
    //            }
    //        }, false);

    //        elms[i].addEventListener('change', function () {
    //            if (this.value) {
    //                saveUserData();
    //            }
    //            else {
    //                saveUserData();
    //            }
    //        }, false);

    //        elms[i].addEventListener('click', function () {
    //            if (this.value) {
    //                saveUserData();
    //            }
    //            else {
    //                saveUserData();
    //            }
    //        }, false);
    //    }
    //})();

</script>

