@using CheckoutPortal.Models.Ecwid
@using Shared.Helpers
@{
    ViewData["Title"] = "EasyCard";
    Layout = null;
    var currentUICulture = CultureInfo.CurrentCulture;
}
@model EcwidSettingsQuery
@inject CommonLocalizationService localizer

<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/ecwid-styles.css" />
    <link rel="stylesheet" href="https://d35z3p2poghz10.cloudfront.net/ecwid-sdk/css/1.3.13/ecwid-app-ui.css" />
    <script src="https://d35z3p2poghz10.cloudfront.net/ecwid-sdk/js/1.2.9/ecwid-app.js"></script>
    <script src="https://d35z3p2poghz10.cloudfront.net/ecwid-sdk/css/1.3.16/ecwid-app-ui.min.js"></script>
</head>
<!-- Back button block START -->
@*<div id="go-back-btn" class="content-control-menu-nav settings-page">
    <a class="horizontal-icolink icolink-small icolink-prepend">
    <span class="icon-arr-left"></span> <span class="gwt-InlineLabel">@localizer.Get("PayWithEasyCard")</span>
    </a>
    </div>*@

<!-- Back button block END -->
<!-- Main app block START -->

<body dir="@(currentUICulture.Name == "he" ? "rtl" : "ltr")" class="@(currentUICulture.Name == "he" ? "rtl" : "ltr")">
    <div class="settings-page cf">
        <div class="settings-page__header">
            <div class="settings-page__titles settings-page__titles--left d-flex justify-space-between">
                <div>
                    <h1 class="settings-page__title">@localizer.Get("PayWithEasyCard")</h1>
                    <div class="settings-page__subtitle">@localizer.Get("EcwidGeneralInfoMessage")</div>
                </div>
                <div class="ecwid-lang-area">
                    <vc:culture-switcher />
                </div>
            </div>

            <div hidden id="saved-alert" class="alert alert-success alert-icon">
                <div class="alert-inner">
                    <div class="alert-content">
                        <div class="icon">
                            <span class="svg-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70"><path d="M34.5 67h-.13c-8.68-.03-16.83-3.45-22.94-9.61C5.32 51.23 1.97 43.06 2 34.38 2.07 16.52 16.65 2 34.5 2h.13c8.68.03 16.83 3.45 22.94 9.61 6.12 6.16 9.46 14.34 9.43 23.02C66.93 52.48 52.35 67 34.5 67zm0-62C18.3 5 5.06 18.18 5 34.39c-.03 7.88 3.01 15.3 8.56 20.89 5.55 5.59 12.95 8.69 20.83 8.72h.12c16.2 0 29.44-13.18 29.5-29.39.03-7.88-3.01-15.3-8.56-20.89C49.89 8.13 42.49 5.03 34.61 5h-.11z"></path><path d="M32.17 46.67l-10.7-10.08c-.6-.57-.63-1.52-.06-2.12.57-.6 1.52-.63 2.12-.06l8.41 7.92 14.42-16.81c.54-.63 1.49-.7 2.12-.16.63.54.7 1.49.16 2.12L32.17 46.67z"></path></svg>
                            </span>
                        </div>
                        <div class="title">@localizer.Get("SettingsWereSavedSuccessfully")</div>
                        <div>
                            @localizer.Get("YouCanNowCloseThePage")
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="settings-page__body" style="padding-bottom: .1px">
            <div class="named-area">
                <div class="named-area__header">
                    <div class="named-area__titles">
                        <div class="named-area__title">@localizer.Get("Settings")</div>
                    </div>
                    <div class="named-area__description"></div>
                    <div class="named-area__additional"></div>
                </div>
                <div class="named-area__body">
                    <div class="payment-card payment-card--extended">
                        <div class="payment-card__main">
                            <div class="payment-card__header">
                                <div class="payment-card__logo">
                                    <img src="~/img/logon.png" alt="EasyCard" height="64px" />
                                </div>
                            </div>
                            <div class="payment-card__content">
                                <div>
                                    <div class="form-area">
                                        <div class="form-area__content">
                                            <p>
                                                @localizer.Get("EcwidSettingsInfoMessage")
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="payment-card__action">
                                <div class="form-area">
                                    <div class="form-area__content">
                                        <div class="fieldsets-batch">
                                            <div class="fieldset">
                                                <div class="fieldset__title">@localizer.Get("TerminalApiKey")</div>
                                                <div class="field field--medium">
                                                    <input placeholder="@localizer.Get("TerminalApiKey")" data-visibility="private" data-name="apiKey" type="text" class="ecwid-input" tabindex="4" maxlength="64">
                                                </div>
                                                <div class="field__error" aria-hidden="true" style="display: none;"></div>
                                                @*<div class="fieldset__note">...and some description below</div>*@
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-area__action">
                                        <button id="save-btn" type="button" class="btn btn-primary btn-medium" tabindex="5">@localizer.Get("Save")</button>
                                    </div>
                                </div>
                            </div>
                            <div class="payment-card__terms" aria-hidden="true" style="display: none;"></div>
                        </div>
                        <div class="payment-card__side">
                            <div class="payment-card__credit-cards">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 26">
                                    <path fill="#F7B600" d="M1 22h38v3H1z"></path>
                                    <path fill="#1A1F71"
                                          d="M1 1h38v3H1zM15.46 8l-4.13 9.84H8.64L6.61 9.99c-.12-.48-.23-.66-.61-.86-.61-.34-1.62-.65-2.51-.84L3.55 8h4.33c.55 0 1.05.37 1.17 1l1.07 5.7L12.78 8h2.68zM26 14.63c.01-2.6-3.59-2.74-3.57-3.9.01-.35.34-.73 1.08-.82.36-.05 1.37-.08 2.51.44l.45-2.09c-.61-.22-1.4-.43-2.38-.43-2.52 0-4.29 1.34-4.3 3.25-.02 1.42 1.26 2.21 2.23 2.68.99.48 1.33.79 1.32 1.22-.01.66-.79.95-1.52.96-1.28.02-2.02-.35-2.61-.62l-.46 2.16c.6.27 1.69.51 2.83.52 2.66 0 4.41-1.32 4.42-3.37m6.65 3.22H35L32.94 8h-2.17c-.49 0-.9.28-1.08.72l-3.82 9.12h2.67l.53-1.47h3.27l.31 1.48zm-2.85-3.49l1.34-3.7.77 3.7H29.8zM19.09 8l-2.1 9.84h-2.55L16.55 8h2.54z">
                                    </path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 26">
                                    <path fill="#FF5F00" d="M14.59 3.21h10.82v19.44H14.59z"></path>
                                    <path fill="#EB001B"
                                          d="M15.28 12.93c0-3.94 1.85-7.46 4.72-9.72A12.28 12.28 0 0012.36.57C5.53.56 0 6.1 0 12.93c0 6.83 5.53 12.36 12.36 12.36 2.88 0 5.54-.99 7.64-2.64a12.341 12.341 0 01-4.72-9.72z">
                                    </path>
                                    <path fill="#F79E1B"
                                          d="M40 12.93c0 6.83-5.53 12.36-12.36 12.36-2.88 0-5.54-.99-7.64-2.64 2.88-2.26 4.72-5.78 4.72-9.72S22.88 5.47 20 3.21A12.28 12.28 0 0127.64.57C34.47.56 40 6.1 40 12.93z">
                                    </path>
                                </svg>
                            </div>
                            <div class="payment-card__content">
                                <p class="payment-card__title payment-card__title--medium d-block">
                                    @localizer.Get("HowToSetUp")
                                </p>
                                <ul class="numeric">
                                    @if (currentUICulture.Name == "he")
                                    {
                                        <li><a href="https://identity.e-c.co.il/registration">הרשם לחשבון סוחר באיזי קארד.</a> יש לך כבר חשבון? התקדם לשלב 3</li>
                                        <li>המתן לקבלת אימייל מאיזי קארד, המאשר שהחשבון שלך ולידי</li>
                                        <li>הכנס מפתח עבור המסוף שסופק לך ע"י איזי קארד.</li>
                                        <li>שמור שינויים</li>
                                    }
                                    else
                                    {
                                        <li><a href="https://identity.e-c.co.il/registration">Sign up for an EasyCard merchant account.</a> If you already have an account proceed to step 3.</li>
                                        <li>Wait for an email from EasyCard confirming that your account is verified.</li>
                                        <li>Enter Terminal ID private key supplied by EasyCard.</li>
                                        <li>Save the changes.</li>
                                    }
                                </ul>
                            </div>
                            @*<div class="payment-card__footer">
                                <p>
                                By using EasyCard you agree to their
                                <a target="_blank">Terms of Service</a>.
                                </p>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- Main app block END -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/ecwid-functions.js"></script>
<script src="~/lib/toastr/toastr.min.js"></script>
<link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />

<script nws-csp-add-nonce="true">
    (function() {
        $(document).ready(function () {
            const ecwid = new initEcwid('@Model.AppID');

            $("#go-back-btn").on("click", function(){
                ecwid.goBack();
            });
            $("#save-btn").on("click", function(){
                ecwid.saveUserData();
                //toastr["success"]('@(localizer.Get("SettingsWereSavedSuccessfully"))');
                $("#saved-alert").show()
            });
        });
    })()
    // Autosave feature for fields. Complimentary JS for the one from SDK above

    //(function initFieldset() {

    //    var elms = document.querySelectorAll('.field__input, .field__select, .field__textarea, .radio');
    //    for (var i = 0; i < elms.length; i++) {
    //        elms[i].addEventListener('blur', function (e) {
    //            checkFieldChange(this);
    //            if (this.classList.contains('field__input') || this.classList.contains('field__textarea')) {
    //                saveUserData();
    //            }
    //        }, false);

    //        elms[i].addEventListener('change', function () {
    //            if (this.value) {
    //                saveUserData();
    //            }
    //            else {
    //                saveUserData();
    //            }
    //        }, false);

    //        elms[i].addEventListener('click', function () {
    //            if (this.value) {
    //                saveUserData();
    //            }
    //            else {
    //                saveUserData();
    //            }
    //        }, false);
    //    }
    //})();

</script>

